
.image {
  width: 100%;
  padding: 10px;
  display: block;
  margin-inline: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Row{
  padding-block: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container{
  align-items: center;
}
